* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Header Styles */
header {
    height: 120px;
    padding: 30px 35px;
    background-color: #276a82;
    position: relative;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: white;
    display: inline;

}
header a {
    text-decoration: none;
    color: white;
}
#name-box {
    width: 250px;
    position: absolute;
    top: 50px;
    left: 75px;
    #border: 1px solid red;
}
/* End Header Styles */

/* Navigation Styles */
nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 8px 0;
}

nav ul li {
    display: inline;
    margin: 10px 30px;
    font-size: 22px;
}

nav a:hover {
    text-shadow: 3px 3px 10px black;
}
/* End Navigation Styles */

/* Footer Styles */
footer {
    background: #df6a3c;
    padding: 40px 10px;
}

/* End Footer Styles */